@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.text-heading-transparent {
  color: color-mix(in srgb, var(--heading-color), transparent 95%);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-in-out;
}
.input-field {
  @apply w-full p-2 rounded-lg bg-blue-800 border border-gray-500 text-white 
  focus:ring-2 focus:ring-amber-400 focus:outline-none placeholder-gray-300;
}



